<style>
    .selectOption{
        margin-left: 50px;
        
        border: none;
        margin: auto;
        width: 50%;
    }
</style>
<body style="background-image: url(https://images.pexels.com/photos/210881/pexels-photo-210881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-repeat: no-repeat; background-size: cover;">
     <button class="gioBtn" id="gio">Detect your location</button> 
     <h2 class="heading" style="text-align: center;margin-top:10px; font-weight: bold;" id="showdata"> KNOW WHERE YOU ARE</h2>
  <div class="container">
    <form action="/users/booking" method="post">
    <h3 style="text-align:center; font-size: 20px; font-weight: bold;" >Shop Name</h3>
    <input type="text" name="username" class="inputType" value="{{user.username}}" readonly>
    <input type="text" name="usermobile" class="inputType" value="{{user.mobile}}" readonly>
    <input type="text" name="useremail" class="inputType" value="{{user.email}}" readonly>
<input type="text" name="shopname" class="inputType" value="{{machanics.ShopName}}" readonly>

    <h3 style="text-align:center; font-size: 20px; font-weight: bold;">Mail Id</h3>
<input type="text"  name="email" class="inputType" value="{{machanics.email}}" readonly>

    <h3 style="text-align:center; font-size: 20px; font-weight: bold;">Mobile</h3>
<input type="text"  name="mobile" class="inputType" value="{{machanics.mobile}}" readonly>

    <h3 style="text-align:center; font-size: 20px; font-weight: bold;">City</h3>
<input type="text"  name="city" class="inputType" value="{{machanics.city}}" readonly> <br>
<br>
<br><br>
 <div class="selectOption">
       <select name="type" id="" >
        <option value="byke">Select vehicle type</option>
        <option value="byke">Byke</option>
        <option value="car">car</option>
    </select>
 </div>

    <p style="text-align:center"></p>
<input type="hidden"  name="lat" id="lat" class="inputType"  readonly>

    <p style="text-align:center"></p>
<input type="hidden" name="longt" id="long" class="inputType"  readonly>
<div class="row">
        <div class="col sm-4" style="text-align: center;">
          <a href="/users/" class="btn btn-danger">Cancel</a>
          <input class="btn btn-success" type="submit" value="Book"> 
          </div>
    </div>
</form>
</div>
  </div>
</div>
<script>
      const button = document.getElementById("gio");
button.addEventListener("click", ()=>{
    if(navigator.geolocation){
        button.innerText = "Allow gmap to detect location";
        navigator.geolocation.getCurrentPosition(onSuccess, onError);
    }else{
        button.innerText = "Your browser not support";
    }
});
function onSuccess(position){
      var locationData = document.getElementById('showdata');
    locationData.innerText = "Detecting your location...";
    let {latitude, longitude} = position.coords;
    console.log(latitude);
   document.getElementById("lat").value =latitude ;
     document.getElementById("long").value =longitude ;
    console.log(longitude);
    console.log("----------------this is position")
    //8bb9d1ee2d9743e29d3f1216c002b2f4
    fetch(`https://api.opencagedata.com/geocode/v1/json?q=${latitude}+${longitude}&key=8bb9d1ee2d9743e29d3f1216c002b2f4`)
    .then(response => response.json()).then(response =>{
        let allDetails = response.results[0].components;
        console.table(allDetails);
        let {suburb, postcode, city} = allDetails;
      
        locationData.innerText = `${suburb} ${postcode}, ${city}`;
    }).catch(()=>{
        button.innerText = "Something went wrong";
    });
}
function onError(error){
    if(error.code == 1){
        button.innerText = "You denied the request";
    }else if(error.code == 2){
        button.innerText = "Location is unavailable";
    }else{
        button.innerText = "Something went wrong";
    }
    button.setAttribute("disabled", "true");
}
</script>

</body>